.message-bot {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2c2c2c;
  width: 200px;
  height: fit-content;
  text-align: left;
  border: 1px solid #6d6d6d;
  border-radius: 10px;
}

.message-user {
  position: relative;
  margin-bottom: 10px;
  margin-left: calc(100% - 240px);
  padding: 10px;
  background-color: #f8f8f8;
  width: 200px;
  height: fit-content;
  text-align: left;
  border: 1px solid #828282;
  border-radius: 10px;
}

.message-content-user {
  font: 'Helvetica', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  text-shadow: #6d6d6d;
}

.message-content-bot {
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  color: #e8e8e8;
}

.message-timestamp-user {
  font-family: 'Helvetica', 'Arial', sans-serif;
  position: sticky;
  font-weight: 300;
  bottom: 5px;
  left: 5px;
  margin-top: 10px;
  color: #535353;
}

.message-timestamp-bot {
  font-family: 'Helvetica', 'Arial', sans-serif;
  position: sticky;
  font-weight: 300;
  bottom: 10px;
  left: 5px;
  margin-top: 10px;
  color: #9e9e9e;
}

/* .message-bot:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid#dadadaa6;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.message-bot:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #828282;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}

.message-user:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid#dadadaa6;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 0;
  right: -15px;
}

.message-user:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #828282;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1px;
  right: -17px;
} */

.text-form {
  width: 100%;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
}

.chat-container {
  padding: 0px 0px;
  width: 400px;
}

.form-container {
  margin: 10px;
  margin-right: 10px;
}

.title-container {
  background-color: #000000;
  padding: 12px 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  margin: auto;
  width: 80%;
  max-height: 100%;
}

.portrait {
  margin-top: 30px;
  padding: 10%;
  height: 80px;
  width: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landscape-view {
  display: flex;
  margin-top: 20px;
  width: 180px;
}

.invisible-button {
  background: transparent;
  border: none !important;
  color: transparent !important;
}

.regular-arrows {
  background: transparent;
  border: none !important;
  color: #f8f8f8;
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}

.image-input {
  margin-top: 10px;
}

::-webkit-scrollbar{
  width: 10px;
  border-radius: 10px;
}


::-webkit-scrollbar-track{
  background: #eeeeee;
}

::-webkit-scrollbar-thumb{
  background: #9e9e9e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #ccc;
}
